@import '../../styles/common';
.header {
  .clearfix;
}

.heading {
  float: left;
  font-family: @font-heading;
  font-size: 30px;
  line-height: 1.6em;
  font-weight: @weight-list-heading;
  color: @color-heading;
  margin-bottom: 20px;
}

.link {
  float: right;
  font-size: 14px;
  line-height: 1.6em;
  color: @link-color;
  &:hover {
    color: @link-color-hover;
  }
  padding: 13px 0 13px 10px;
}
